body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

h2 {

    font-family: 'Roboto', Arial, sans-serif;
    font-size: 24px;
    color: #19118a; /* Change color as desired */
    margin-top: 30px; /* Adjust margin as needed */
}

h1, h3 {
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border: 2px solid #ddd;
    border-radius: 4px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.result-item {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 4px;
}

.result-item span {
    font-weight: bold;
}

.lists-container {
    display: flex;
    justify-content: space-between;
}

.list {
    width: 45%; /* Adjust as needed */
    border-right: 2px solid #340ebc;
    padding-right: 20px; /* Add some space between the lists */
}

.list:last-child {
    border-right: none; /* Remove border on the last list */
}

.image-and-lists-container {
    display: block; /* Change from 'flex' to 'block' */
    /* text-align: center; Align content to the center */
    margin-top: 20px; /* Add some space at the top */
}

.image-frame img {
    max-width: 100%; /* Make sure the image doesn't exceed its container */
    display: inline-block; /* Display the image as inline-block */
}
